/* Reset some default margin and padding on the body and html elements */
body, html {
    margin: 0;
    padding: 0;
}

/* Set the height to 200vh (200% of the viewport height) */
body {
    height: 200vh;
}

/* Set the width to 100% to make it scale with the screen size */
.main {
    width: 100%;
}

/* Add some basic styling to the navbar */
.navbar {
    align-items: center;
    background-color: #333;
    color: white;
    display: flex;
    font-family: Arial;
    justify-content: space-between;
    padding: 10px;
}

/* Style the logo */
.logo {
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

/* Style the menu items */
.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 100px;
}

.menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s; /* Add a smooth transition effect */
}

.menu a:hover {
    color: grey; /* Change the text color to grey on hover */
}

/* Add some basic styling to the search box */
.search {
    border: 1px solid #ccc;
    padding: 20px;
}
